@charset "UTF-8";

.invalid-check {
  background: url(/images/cross.png?42492684e24356a4081134894eabeb9e) no-repeat 0 50%;
  padding-left: 22px;
  line-height: 24px;
  color: #ec3f41;
}

.valid-check {
  background: url(/images/tick.png?c9b528b9541e127967eda62f79118ef0) no-repeat 0 50%;
  padding-left: 22px;
  line-height: 24px;
  color: #3a7d34;
}

#password-info {
  display: none;
  padding: 5px;
  background: #fefefe;
  font-size: 0.875em;
  border-radius: 5px;
  box-shadow: 0 1px 3px #ccc;
  border: 1px solid #ddd;
}

#password-info span {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  display: block;
}

#password-info ul {
  list-style: none;
  margin: 10px 0 5px 0;
}

#password-info:before {
  content: "\25B2";
  position: absolute;
  top: -12px;
  left: 45%;
  font-size: 14px;
  line-height: 14px;
  color: #ddd;
  text-shadow: none;
  display: block;
}

